.App-content {
    margin: 20px auto;
    max-width: 90%;
}

.Content {
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 1920px) and (max-width: 2048px){
    .App-content {
        max-width: 1824px;
    }
}

@media screen and (min-width: 1680px) and (max-width: 1919px){
    .App-content {
        max-width: 1520px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1679px){
    .App-content {
        max-width: 1216px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
    .App-content {
        max-width: 912px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .App-content {
        max-width: 608px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .App-content {
        max-width: 304px;
    }
}
