.search-bar {
    text-align: center;
}

.paper {
    width: 70% !important;
    height: 100px !important;
    margin: 20px !important;
    text-align: center !important;
    display: inline-block !important;
}

.text-field {
    margin-top: 25px;
    width: 50% !important;
}
