.SearchBar {
    text-align: center;
}

.paper {
    width: 70% !important;
    height: 100px !important;
    margin: 20px !important;
    text-align: center !important;
    display: inline-block !important;
}

.text-field {
    width: 65% !important;
    margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .paper {
        width: 100% !important;
        height: 50px !important;
        margin: 0 !important;
    }

    .text-field {
        width: 90% !important;
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1370px) {
    .paper {
        height: 135px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .Label {
        display: none;
    }
}